name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Lint
        run: pnpm run lint

      - name: Test
        run: pnpm run test

      - name: Archive build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build-artifacts
          path: |
            packages/*/lib/**

  check-and-generate-renovate-changefile:
    if: startsWith(github.event.pull_request.head.ref, 'renovate/') && github.base_ref == github.event.repository.default_branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.RENOVATE_AUTO_BEACHBALL_CHANGEFILE_TOKEN }}

      # Install dependencies (example using pnpm)
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install

      - name: Check and generate changefile for Renovate
        uses: RightCapitalHQ/frontend-style-guide/.github/actions/renovate-auto-beachball-changefile@main

  check-beachball-changefile:
    if: github.base_ref == github.event.repository.default_branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5.0.0
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install

      - name: Check
        run: pnpm exec beachball check

  publish-development:
    if: github.event.pull_request.head.repo.full_name == 'RightCapitalHQ/frontend-libraries' && github.base_ref == github.event.repository.default_branch
    needs: [build-and-test, check-beachball-changefile]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: pnpm

      - run: pnpm install

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-artifacts
          path: packages/

      - name: Publish (development)
        env:
          HEAD_REF: ${{ github.head_ref }}
        run: |
          preid="${HEAD_REF//\//-}".${{ github.run_number }}.${{ github.run_attempt }}
          pnpm --filter './packages/*' exec npm --no-git-tag-version version prerelease --preid="${preid}"
          pnpm --filter './packages/*' publish --no-git-checks --access public --tag development

  publish-main:
    if: github.repository == 'RightCapitalHQ/frontend-libraries' && github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
    needs: [build-and-test]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: pnpm
      - run: pnpm install

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: build-artifacts
          path: packages/

      - name: Publish (main)
        run: |
          git config --local user.email "npm-publisher@rightcapital.com"
          git config --local user.name "GitHub Actions[bot]"
          pnpm beachball publish --yes -m 'chore(release): applying package updates'
